html {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.6rem;
  overflow-x: clip;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #212529;
  background-color: white;
  width: 100vw;
  position: relative;
}

:root {
  --fs-600: 2.5rem;
  --fs-500: 2rem;
  --fs-name: clamp(1.5rem, 3vw + 1rem, 2.5rem);
  --fs-titleCoding: clamp(1rem, 1vw + 1rem, 2.5rem);
  --fs-450: 1.5rem;
  --fs-400: 1rem;
  --bg-color-intro: #ef412d;
  --bg-color-base: #f8f9fa;
  --text-color: #212529;
}

@media screen and (min-width: 900px) {
  :root {
    --fs-600: 3rem;
    --fs-500: 2.5rem;
    --fs-450: 1.5rem;
    --fs-name: clamp(1.5rem, 2vw + 1rem, 5rem);
    --fs-titleCoding: clamp(1.5rem, 1vw + 1rem, 3rem);
    --fs-400: 1.3rem;
  }
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-500);
}

h4 {
  font-size: var(--fs-450);
}

p, li {
  font-size: var(--fs-400);
  font-weight: 500;
  max-width: 60ch;
  line-height: 2rem;
}

header {
  width: 100%;
  margin: 0;
  padding-bottom: 1em;
  background-color: var(--bg-color-intro);
}

nav {
  background-color: var(--bg-color-intro);
  font-weight: 400;
  height: 100%;
  overflow: hidden;
}

nav ul, nav ul li {
  height: 100%;
}

nav ul li {
  padding: 0 1em 1em 1em;
}

h1, h2, h3 {
  margin: 1.3rem 0;
}

h2 {
  position: relative;
  width: max-content;
}

h2::after {
  content: "";
  display: block;
  width: calc(90% + 1em);
  height: 0.1em;
  background-color: var(--bg-color-intro);
  bottom: 0;
  left: 0;
  transform: translateY(0.2em) translateX(-1em);
}

.name {
  font-size: var(--fs-name);
  margin: 0.7em 0;
  animation: slideUp 1s;
}

.introduction a:link, .introduction a:visited, .introduction a:hover, .introduction a:active {
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.8em;
  border: 1px solid var(--text-color);
}

.introductionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
  position: relative;
  background: var(--bg-color-intro);
  margin-bottom: 1em;
}

.introduction {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 2rem;
  line-height: clamp(2.5rem, 5vw + 1rem, 6rem);
}

.introduction a {
  width: 100%;
  text-align: center;
  align-self: center;
}

.introduction p {
  line-height: clamp(2.5rem, 5vw + 1rem, 6rem);
  margin: 0;
}

.contactButton {
  display: inline-block;
  margin-top: 0.8em;
}

.portraitDiv {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.portraitDiv img {
  object-fit: contain;
  animation: fadeIn 2s;
  filter: grayscale(70%);
  transition: filter 0.5s ease;
}

.portraitDiv img:hover {
  filter: grayscale(0%);
}

.nav-links {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 4em;
}

.nav-links li {
  list-style: none;
  align-content: center;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  color: #212529;
}

.about p::first-letter, .portfolio p::first-letter {
  padding-left: 1em;
}

.about, .skills, .portfolio, .experience, .contact {
  padding: 0 2em;
}

.about h2, .skills h2, .portfolio h2, .experience h2, .contact h2 {
  color: var(--bg-color-intro);
  font-weight: bold;
}

.gridContainer {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: 3em;
}

.experience h2 {
  margin-bottom: 3rem;
}

.experience h4 {
  margin: 0.5em 0;
  line-height: 1.1em;
}

.experience p {
  margin: 0.5em;
}

.experience hr {
  border-top: 1px solid var(--bg-color-intro);
}

.experience .job, .experience hr {
    margin-bottom: 3rem;
}

.portfolio {
  margin-left: 0;
  justify-self: start;
}

@media screen and (width < 500px) {
  .experience {
    margin-bottom: 5em;
  }
}

@media screen and (min-width: 500px) {
  .gridContainer {
    max-width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
            "about about"
            "skills contact"
            "portfolio portfolio"
            "experience experience";
  }

  .about, .skills, .portfolio, .experience, .contact {
    margin-bottom: 2em;
    padding-top: 0;
  }

  .about {
    grid-area: about;
    height: max-content;
    margin-top: 0;

  }

  .contact {
    grid-area: contact;
    height: max-content;
    width: min-content;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2em;
  }

  .skills {
    grid-area: skills;
    height: max-content;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2em;
  }

  .portfolio {
    grid-area: portfolio;
    height: max-content;
    margin: auto;
  }

  .experience {
    grid-area: experience;
    height: max-content;
    margin-bottom: 5em;
  }
}

@media screen and (min-width: 700px) {
  .gridContainer {
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
            "about portfolio"
            "contact portfolio"
            "skills portfolio"
            "experience portfolio";
    align-items: start;
  }

  .portfolio {
    background-color: rgba(239, 65, 45, 0.1);
  }
}

@media screen and (min-width: 1300px) {
  .gridContainer {
    max-width: 100%;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(4, min-content);
  }

  .portfolio .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
  }

  .portfolio .projects .project {
    margin: 0;
    width: 80%;
  }
}

@media screen and (min-width: 1500px) {
  .gridContainer .portfolio {
    height: 100%;
  }
  .portfolio .projects .project {
    margin: 0;
    width: 45%;
  }

  .nav-links {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .introductionSection {
    flex-direction: row;
  }
  .portraitDiv {
    width: fit-content;
  }
  .introduction a {
    width: 50%;
    align-self: start;
  }

  .projects .project {
    width: calc(100% - 2em);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

section {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.animate {
  opacity: 1;
  transform: translateX(0);
}

.introductionSection {
  opacity: 1;
  transform: translateX(0);
}

.animated-text{
  font-size: var(--fs-titleCoding);
  font-weight: 400;
  min-width: 280px;
  text-wrap: nowrap;
}

.animated-text span{
  position: relative;
  height: 100%;
  width: 100%;
}

.animated-text span::before{
  content: "";
  color: var(--text-color);
  animation: words 20s infinite;
}

.animated-text span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 120%;
  transform: translateY(20%);
  background-color: var(--bg-color-intro);
  border-left: 2px solid var(--text-color);
  right: -8px;
  animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to{
    border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,20%{
    content: "Full-Stack Web Developer";
  }
  21%,40%{
    content: "Pet Lover";
  }
  41%,60%{
    content: "Musician";
  }
  61%,80%{
    content: "Outdoor Lover";
  }
  81%,100%{
    content: "Gamer";
  }
}

@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
    width: calc(100% + 8px);
  }
}

#aboutButtonSymbol{
  display: none;
}

#skillsButtonSymbol{
  display: none;
}

#portfolioButtonSymbol{
  display: none;
}

#experienceButtonSymbol{
  display: none;
}

#contactButtonSymbol{
  display: none;
}

.portfolio h4 {
  margin: 1em 0;
}

.projectImage {
  width: 100%;
}

.project {
  margin-bottom: 3em;
}

.project h4 {
  color: var(--bg-color-intro);
}

.portfolio a {
  display: flex;
  height: 2.5em;
  justify-content: center;
  align-items: center;
  background: var(--bg-color-base);
  color: var(--text-color);
  border: 2px solid var(--bg-color-intro);
  border-radius: 50px;
  font-size: var(--fs-400);
  font-weight: 700;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.portfolio a,
.portfolio a:active,
.portfolio a:focus,
.portfolio a:visited,
.portfolio a:hover {
  outline: none;
  text-decoration: none;
  text-underline: none;
}

.portfolio a:hover {
  background: var(--bg-color-intro);
  color: var(--bg-color-base);
  cursor: pointer;
}

.linksContainer {
  display: flex;
  justify-content: end;
  gap: 1em;
}

.github {
  width: 2.5em;
  text-align: center;
}

.checkitout {
  width: 8em;
}

#contactCardsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: max-content;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.card p {
  margin: 0.5em;
}



@media screen and (width < 900px) {
  .introduction {
    width: 90%;
  }
  .portraitDiv img {
    width: 60%;
    height: auto;
  }

  .nav-links {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background: var(--bg-color-base);
    z-index: 100;
    width: 100vw;
    bottom: 0;
    left: 0;
  }

  .nav-links li {
    padding: 0;
    width: 20%;
    text-align: center;
  }

  .nav-links li a {
    align-content: center;
    display: block;
    width: 100%;
    height: 100%;
  }

  #aboutButtonText {
    display: none;
  }

  #aboutButtonSymbol {
    display: block;
  }

  #skillsButtonText {
    display: none;
  }

  #skillsButtonSymbol {
    display: block;
  }

  #portfolioButtonText {
    display: none;
  }

  #portfolioButtonSymbol {
    display: block;
  }

  #experienceButtonText {
    display: none;
  }

  #experienceButtonSymbol {
    display: block;
  }

  #contactButtonText {
    display: none;
  }

  #contactButtonSymbol {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .nav-links a {
    position: relative;
    z-index: 20;
  }
  .nav-links li{
    position: relative;
  }
  .nav-links li {
    width: 10%;
  }
  .nav-links li {
    transition: font-size 1s ease;
  }
  .nav-links li:hover {
    font-size: 1.5em;
    transition: font-size 1s ease;
  }

  .introduction {
    margin-left: 8vw;
  }

  .portraitDiv {
    align-self: end;
  }

  .portraitDiv img {
    width: 75%;
    height: auto;
  }

  .project {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
  }

  .projectImage {
    justify-items: center;
  }
}
